<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CodecCommander</key>
		<dict>
			<key>Codec Profile</key>
			<dict>
				<key>10ec_0298</key>
				<string>Realtek ALC298</string>
				<key>Realtek ALC298</key>
				<dict>
					<key>Custom Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>0x01870722</string>
							<key>Comment</key>
							<string>0x18 SET_PIN_WIDGET_CONTROL 0x22</string>
							<key>On Init</key>
							<false/>
							<key>On Sleep</key>
							<false/>
							<key>On Wake</key>
							<true/>
						</dict>
						<dict>
							<key>Command</key>
							<string>0x01a70723</string>
							<key>Comment</key>
							<string>0x1a SET_PIN_WIDGET_CONTROL 0x23</string>
							<key>On Init</key>
							<false/>
							<key>On Sleep</key>
							<false/>
							<key>On Wake</key>
							<true/>
						</dict>
						<dict>
							<key>Command</key>
							<string>0x02170883</string>
							<key>Comment</key>
							<string>0x21 SET_UNSOLICITED_ENABLE 0x83</string>
							<key>On Init</key>
							<false/>
							<key>On Sleep</key>
							<false/>
							<key>On Wake</key>
							<true/>
						</dict>
					</array>
					<key>Perform Reset</key>
					<false/>
					<key>Send Delay</key>
					<integer>500</integer>
					<key>Sleep Nodes</key>
					<false/>
					<key>Perform Reset on EAPD Fail</key>
					<false/>
					<key>Perform Reset on External Wake</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
